:root{
	--background: rgba(0, 214, 170, ,5);
}
* {
	padding: 0px;
	margin: 0px;
}
/*created with kp*/
*, *::before, *::after{
	box-sizing: border-box;
}
header{
	/*not used
	background: var (--background);
	*/
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;
}
nav{
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	margin-bottom: 1em;
	margin-left: 1em;
	}
nav a{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
}
nav a:hover{
	color: black;
	background: yellow;
}
li {
	list-style-type: none;
}
.top-nav{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: green;
}
.top-nav a{
	float: left;
	display: ;
	color: yellow;
	background-color: green;	
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.top-nav a:hover{
	background-color: yellow;
	color: black;
}
.welcome {
	margin-top: 2rem;
  	padding: 3.46rem 2rem 2rem 2rem;
	text-align: center;	
	font-family: serif;
	font-size: 7rem;
	background-color: yellow;
/*
	width: 100%;
	height: 100vh;
*/
}
.contact{
	margin: .2rem;
	padding-top: 2rem;
	padding: .4rem;
	background-color: greenyellow;
}
.location{
	margin: .2rem;
	padding: .4rem;
	background-color: yellow;
}
.history{
	margin: .2rem;
	padding-top: 2rem;
	padding: .4rem;
	background-color: greenyellow;
}
.products{
	margin: .2rem;
	padding-top: 2rem;
	padding: .4rem;
	background-color: yellow;
}